$header-font-color: white;
$bg-color-light: rgb(228, 228, 228);
$bg-color-dark: rgb(47, 47, 47);
$nav-link-hover-color: rgb(192, 192, 192);
$a-link-hover-color: rgb(10, 10, 10);
$transclucent: 0.8;

// BIG UI COMPONENTS
.header {
    opacity: $transclucent;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    cursor: default;
    font-family: "Manrope", sans-serif;

    h1 {
        padding: 2px;
        font-size: 8rem;
        color: $header-font-color;
        background-color: transparent;
        border: 4px solid;
    }
}
.content {
    background-color: $bg-color-light;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .side {
        width: 30%;
        display: flex;
        gap: 5px;
        flex-direction: column;
        align-items: center;
        height: 100%;
        padding: 0 1rem 1rem 1rem;
        background-color: $bg-color-dark;
        color: $bg-color-light;

        .side-header {
            h1 {
                font-size: 4rem;
            }
        }

        h3 {
            font-size: 2rem;
        }

        p {
            font-size: 1.4rem;
        }
    }
}
.navbar {
    z-index: 1;
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    border: 2px solid $header-font-color;
    opacity: $transclucent;

    .nav-links {
        display: flex;
        margin: 3px;
        gap: 3px;
        .nav-link {
            padding: 2px;
            list-style: none;
            color: black;
            background: $bg-color-light;
            a {
                font-size: 1.2rem;
            }

            &:hover {
                background: $nav-link-hover-color;
            }
        }
    }
}

// SMALL UI COMPONENTS
a {
    color: $bg-color-dark;
    text-decoration: none;
    cursor: default;

    &:active {
        color: black;
    }
}

// LANDING PAGE
#background {
    height: 100%;
    display: flex;
    transition: gap 2s ease-out;
}
.background-image {
    flex-grow: 1;
    transition: flex-grow 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background-position: center;
    background-size: cover;
}

// GALLERY PAGE
#gallery {
    padding: 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .gallery-image-container {
        text-align: center;
        img {
            transition: transform 0.2s ease-in;
            width: 80%;
        }
    }
}

// SPECIFIC IMAGE PAGE
.image-info-page {
    .image-container {
        margin: 4% auto;
        position: relative;
        max-width: 70%;
        .fullscreen {
            img {
                max-width: 100%;
                max-height: 90vh; //needed for tall images
            }
            .btn-fullscreen-control {
                align-self: flex-start;
                font-size: 1.5rem;
                right: 0;
                padding: 1px;
                opacity: 0.5;
                position: absolute;
                background-color: $bg-color-light;
                color: $bg-color-dark;

                cursor: pointer;
            }
        }

        .fullscreen-enabled {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .image-info {
        align-items: flex-start;
        justify-content: space-between;

        .map-container {
            aspect-ratio: 1;
            width: 90%;
            align-self: center;
        }

        .info {
            h3 {
                margin-bottom: 2px;
            }
        }
    }
}

// CONTACT PAGE
#contact-page {
    .contact-platforms {
        width: 70%;
        margin: 5%;
        text-align: center;
        h2 {
            margin-bottom: 2rem;
        }
        a {
            font-size: 5rem;
            margin: 2rem;

            &:hover {
                color: $a-link-hover-color;
            }

            svg {
                cursor: pointer;
            }
        }
    }

    .contact-details {
        align-items: flex-start;

        .details {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            .contact-detail {
                display: flex;
                flex-direction: column;
                margin-bottom: 1rem;
            }
        }
    }
}

@media (max-height: 768px), (max-width: 786px) {
    .content {
        .side {
            &::-webkit-scrollbar {
                width: 0;
            }
            .side-header {
                h1 {
                    font-size: 2.5rem;
                }
            }

            h3 {
                font-size: 1.5rem;
            }

            p {
                font-size: 1.25rem;
            }
        }
    }
}

@media (max-height: 768px) {
    .header {
        h1 {
            font-size: 4rem;
        }
    }
}

@media screen and (max-width: 768px) {
    .navbar {
        width: 100%;
        opacity: 1;
        border: none;
        .nav-links {
            justify-content: space-evenly;
            .nav-link {
                padding: 4px;
            }
        }
    }

    .content {
        flex-direction: column;

        .side {
            width: 100%;
            height: 40%;
            overflow: scroll;

            .side-header {
                grid-column: 1 / span 2;
            }
        }
    }

    #background {
        flex-direction: column;
    }

    #gallery {
        grid-template-columns: repeat(2, 1fr);
    }

    .image-info-page {
        .image-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            max-width: 80%;
            margin: 2px;
        }

        .image-info {
            display: grid;
            gap: 1rem;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            justify-content: center;
            .map-container {
                align-self: auto;
                width: 100%;
            }
        }
    }

    #contact-page {
        .contact-platforms {
            height: 70%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .contact-details {
            .details {
                width: 100%;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;

                .contact-detail {
                    text-align: center;
                }
            }
        }
    }
}
